.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 1.2rem;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header >a{
    text-decoration: none;
    color: white;
}